<!--{% block show_nav %}False{% endblock %}-->
{% load static %}
{% if user.is_authenticated %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Botão para exibir/ocultar sidebar no mobile -->
    <button class="btn btn-outline-secondary ms-3" data-widget="pushmenu" type="button">
    <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item d-flex align-items-center mr-3">
            <span class="mr-2">Bem-vindo, {{ primeiro_nome }}</span>
            <img src="{% if foto_url %}{{ user.foto.url }}{% else %}{% static 'img/foto-perfil.png' %}{% endif %}" alt="Foto do usuário"
                 alt="Avatar"
                 class="img-size-32 img-circle"
                 style="object-fit: cover; width:32px; height:32px;">
        </li>
        <li class="nav-item">
            <a href="{% url 'core:user_logout' %}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Sair
            </a>
        </li>
    </ul>

</nav>
{% endif %}